 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
     html {
      
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #ffffff32, #011028);
      color: white;
      overflow-y:auto ;
      transition: opacity 1s ease;
}
h2
{
    padding-top: 20px;
}
img{
    min-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    border-radius: 20px;
}
.first > ul > li > p{
    font-size: 15px;
    font-family:  sans-serif;
    font-style: normal;
    font-weight: 100;
    
}
.first>h2
{
    font-size: 20px;
    text-align: center;
    font-family:  sans-serif;
    padding-top: 20px;

}
hr{
    margin: 20px
}
.first{
    border-radius: 20px;
    margin: 25px;
    padding-bottom: 10px;
    color: black;
    background:linear-gradient(135deg,#fcfcfc, #00f7ff16);
}
.features
{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}
.source > img{
    min-width: 200px;
    max-width: 100%;
    padding: 10px;   
}
button
{
    height: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    border-radius: 60px;
     background:linear-gradient(135deg , #ffffff60 ,#00000016);
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

}
a{
    text-decoration: none;
}